*~
*\#*\#
*.\#*
*.elc
.cask
elpa
.depend
alchemist-pkg.el
packages/*
test/sandbox
TAGS
.DS_STORE
dist
TODO.md
site/

# The directory Mix will write compiled artifacts to.
/alchemist-server/_build/

# If you run "mix test --cover", coverage assets end up here.
alchemist-server/cover/

# The directory Mix downloads your dependencies sources to.
alchemist-server/deps/

# Where third-party dependencies like ExDoc output generated docs.
alchemist-server/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
alchemist-server/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
alchemist-server/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
alchemist-server/*.ez

# Ignore package tarball (built via "mix hex.build").
alchemist-server/forwin-*.tar

# Temporary files, for example, from tests.
alchemist-server/tmp/